# Konfigurasi Cloudinary Sanyonara Service
VITE_CLOUDINARY_CLOUD_NAME=dhx7maf56
VITE_CLOUDINARY_UPLOAD_PRESET=sanyonara_preset

# Kredensial Login Admin Panel
VITE_ADMIN_EMAIL=your_admin_email@example.com
VITE_ADMIN_PASSWORD=your_secure_password_here
